@model ScannerApp.Models.AccessRecord

@{
    ViewBag.Title = "Details";
}

<h2></h2>

<div>
    <h4>Access Record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.photoUrl)
        </dt>

        <dd>
            <img src="http://175.143.69.73:8085/@Url.Content(Model.photoUrl)" height=250 />
            <hr />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.recordTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recordTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.equipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.temperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.temperature)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.deptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cardNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cardNum)
        </dd>

    </dl>
</div>
<p>   
    @Html.ActionLink("Back to List", "Index")
</p>
