
@model PagedList.IPagedList<ScannerApp.Models.AccessRecord>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Access Record";
}

<h3>Access Records</h3>

@using (Html.BeginForm())
{
    <p style="float:left">
        Search: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>

    <p style="float:right; color:red;">
        Temp >= 37.5 are red.
    </p>

}

<table class="table">
    <tr>
        <th>
            Photo
        </th>
        <th>
            Name
        </th>
        <th>
            Phone
        </th>
        <th>
            Temperature
        </th>
        <th>
            Time
        </th>
        <th>
            Device
        </th>
        <th>
            Device Name
        </th>
        <th>
            Department Name
        </th>
        <th>
            Card Num
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string name = item.name == "" ? "Stranger" : item.name;

<tr style='color: @( Convert.ToDecimal( item.temperature.Substring(0,4)) >= Convert.ToDecimal( 37.5 )? "red" : "black");'>
    <td>       
        <img src="http://175.143.69.73:8085/@Url.Content( item.photoUrl)" height="60" alt="Image" />
    </td>
    <td style='color:@(name == "Stranger"? "blue": "black")'>
        @Html.DisplayFor(modelItem => name)
    </td>   
    <td>
        @Html.DisplayFor(modelItem => item.MyPhone)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.temperature)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.recordTime)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.sn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.equipName)
    </td>


    <td>
        @Html.DisplayFor(modelItem => item.deptName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.cardNum)
    </td>
    <td>
        <a href="@Url.Action("Details", "AccessRecords",new { id = item.id })" class="btn btn-info" data-toggle="tooltip" title="Details">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </a>
    </td>
</tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))

<script>
    $(function () { $("[data-toggle = 'tooltip']").tooltip(); });
</script>
