@model ScannerApp.Models.Device

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.createUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.equipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isBind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isBind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.softVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.softVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.temperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.temperature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deptId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deptId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.validateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.validateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
