@model IEnumerable<ScannerApp.Models.Device>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.equipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.companyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.equipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.companyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
