@model ScannerApp.Models.Staff

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this visitor!</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.photoUrl)
        </dt>
        <dd>
            <img src="http://175.143.69.73:8085/@Url.Content(Model.photoUrl)" height=350 />
            <hr />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.deptName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deptName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.emerPer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.emerPer)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
