
@model PagedList.IPagedList<ScannerApp.Models.Staff>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Visitor";
}

<h2>Visitor</h2>

@using (Html.BeginForm())
{
    <p>
        Search: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Photo
        </th>
        <th>
            Name
        </th>
        <th>
            Phone
        </th>
        <th>
            Department
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.photoUrl)*@
                <img src="http://175.143.69.73:8085/@Url.Content(item.photoUrl)" height="50" alt="Image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deptName)
            </td>
            <td>



                <a href="@Url.Action("Details", "Staffs",new { id = item.perId })" class="btn btn-info" data-toggle="tooltip" title="Details">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                </a>

            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page , currentFilter = ViewBag.CurrentFilter }))

<script>
    $(function () { $("[data-toggle = 'tooltip']").tooltip(); });
</script>
